patra-catalog/patra-catalog-infra/src/main/resources/xmlmesh/2025/DTD/nlmsupplementalrecordset_20260101.dtd

<!-- NLM SupplementalRecordSet DTD -->
<!-- MeSH DTD file for Supplementary Concept Records. -->
<!-- Author: MeSH				-->
<!-- Effective: 01/01/2026			-->

<!-- ================================================================= -->
<!--             Revision Notes Section
  
  20250101 to 20260101 Removed DateCreated, DateRevised. Added DateIntroduced and LastUpdated
  20240101 to 20250101 Added RegistryNumberList and RegistryNumber is Optional and Repeatable
  

-->
<!-- ================================================================= -->

<!ENTITY  % DescriptorRecordSet SYSTEM "nlmdescriptorrecordset_20260101.dtd">
%DescriptorRecordSet;

<!ENTITY  % ChemicalReference "(SupplementalRecordUI, SupplementalRecordName)">
<!ELEMENT ChemicalReferredTo (%ChemicalReference;) >

<!ELEMENT SupplementalRecordSet (SupplementalRecord*)>
<!ATTLIST SupplementalRecordSet LanguageCode (eng) #REQUIRED>
<!ELEMENT SupplementalRecord (%ChemicalReference;,
                            LastUpdated?,
                            DateIntroduced,
                            Note?,
                            Frequency?,
                            PreviousIndexingList?,
                            HeadingMappedToList+,
                            IndexingInformationList*,
                            PharmacologicalActionList?,
                            SourceList*,
                            ConceptList) >
<!ATTLIST SupplementalRecord SCRClass (1 | 2 | 3| 4 | 5 | 6)  "1">

<!ELEMENT Note (#PCDATA)>
<!ELEMENT SourceList (Source+)>
<!ELEMENT Source (#PCDATA)>
<!ELEMENT Frequency (#PCDATA)>
<!ELEMENT HeadingMappedToList (HeadingMappedTo+)>
<!ELEMENT HeadingMappedTo (DescriptorReferredTo,QualifierReferredTo?) >
<!ELEMENT IndexingInformationList (IndexingInformation+)>
<!ELEMENT IndexingInformation (DescriptorReferredTo?,QualifierReferredTo?,ChemicalReferredTo?)>
<!ELEMENT SupplementalRecordUI (#PCDATA) >
<!ELEMENT SupplementalRecordName (String) >

